#footerwrap
  .container
    %br/
    %h2 CONTACT
    .row
      .col-lg-4
        %h3 GoTag Limited
        %h4 Unit 5 Century Point, 
        %h4 Halifax Road, 
        %h4 High Wycombe, 
        %h4 Buckinghamshire, 
        %h4 HP12 3SL
        %br/
        %h4 Registered Company: 07922618
      / col-lg-4
      .col-lg-4
        %img{:alt => "", :src => "img/logo-150.png", :width =>"120"}/
        %h4 Lovingly crafted in London and Bath.
        %h4 
          Please 
          %a{:href => "mailto:support@gotag.in"} contact us
          , we love hearing from you!
        %br/
        %h4 Email: support@gotag.in
        %h4 Phone: 0208 144 6284
      / col-lg-4
      .col-lg-4.useful
        %h3 Useful Links
        %h4
          %a{:href => "#"} About Us
        %h4
          %a{:href => "#"} Event Partners
        %h4
          %a{:href => "#"} Press
        %h4
          %a{:href => "#"} Terms 
        %h4
          %a{:href => "#"} Privacy
        %h4
          %a{:href => "#"} Refunds 
        %h4
          %a{:href => "#"} Help
      / col-lg-4
    / row
    %br/
    .row
      %h5 Thanks for visiting us!
      %h5 We hope to see you again soon.
    .row.iconbar
      %a{:href => "#"}
        %img{:alt => "", :src => "img/icon/facebook.png"}/
      %a{:href => "#"}
        %img{:alt => "", :src => "img/icon/twitter.png"}/
      %a{:href => "#"}
        %img{:alt => "", :src => "img/icon/Help.png"}/
  / container
/ footerwrap