#footerwrap
  .row.footer-row
    .col-sm-2.col-lg-2.col-12
      %ul
        %li
          .fb-like{"data-href" => "http://facebook.com/gotagin", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "100"}
        %li
          %a.twitter-follow-button{"data-show-count" => "false", :href => "https://twitter.com/gotagin"} Follow @gotagin
    .col-sm-8.col-lg-8.col-12
      %ul.fflist
        %li.first-child.col-6.col-sm-3
          %ul.fcol
            %li.ftitle
              GoTag
            %li 
              %a{:href => "about"} About Us
            %li 
              %a{:href => "press"} Press
        %li.col-6.col-sm-3
          %ul.fcol
            %li.ftitle
              For Partners
            %li 
              %a{:href => "#"} Get Started
            %li
              %a{:href => "#"} Pricing
        %li.col-6.col-sm-3
          %ul.fcol
            %li.ftitle
              Legal
            %li 
              %a{:href => "http://help.gotag.in/customer/portal/articles/696031-terms-and-conditions"} Terms
            %li 
              %a{:href => "http://help.gotag.in/customer/portal/articles/696032-privacy-policy"} Privacy
        %li.last-child.col-6.col-sm-3
          %ul.fcol
            %li.ftitle
              Help
            %li
              %a{:href => "http://help.gotag.in/customer/portal/emails/new"} Support
            %li
              %a{:href => "refunds"} Refunds
        %li.col-12.collapse-note
          %h4 © 2013 GoTag Ltd All Rights Reserved
    .col-sm-2.col-lg-2.contactus
      %h4 
        Please 
        %a{:href => "http://help.gotag.in/customer/portal/emails/new"} contact us
        , we love hearing from you!
      %h4 © 2013 GoTag Ltd. All Rights Reserved.