#footerwrap
  .container
    %br/
    /%h2 CONTACT
    .row
      / .col-lg-1
      .col-lg-2
        .fb-like{"data-href" => "http://facebook.com/gotagin", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "100"}
        %a.twitter-follow-button{"data-show-count" => "false", :href => "https://twitter.com/gotagin"} Follow @gotagin
      .col-lg-1
      .col-lg-6
        %ul.ftitle
          %li 
            GoTag
            %ul.fitems
              %li 
                %a{:href => "#"} About Us
              %li 
                %a{:href => "#"} Press
          %li 
            For Partners
            %ul.fitems
              %li 
                %a{:href => "#"} Get Started
              %li
                %a{:href => "#"} Pricing
          %li 
            Legal
            %ul.fitems
              %li 
                %a{:href => "#"} Terms
              %li 
                %a{:href => "#"} Privacy
          %li 
            Help
            %ul.fitems
              %li
                %a{:href => "#"} Contact
              %li
                %a{:href => "#"} FAQs
      / .col-lg-2
      /   %img{:alt => "", :src => "img/logo-150.png", :width =>"120"}/
      .col-lg-3
        %h4 Lovingly crafted in London and Bath.
        %h4 
          Please 
          %a{:href => "mailto:support@gotag.in"} contact us
          , we love hearing from you!
      / .col-lg-1
      

      / col-lg-4
    / row
    / .row
    /   %h5 Thanks for visiting us!
    /   %h5 We hope to see you again soon.
    / .row.iconbar
    /   %a{:href => "#"}
    /     %img{:alt => "", :src => "img/icon/facebook.png"}/
    /   %a{:href => "#"}
    /     %img{:alt => "", :src => "img/icon/twitter.png"}/
    /   %a{:href => "#"}
    /     %img{:alt => "", :src => "img/icon/Help.png"}/
  / container
/ footerwrap