/ Fixed navbar
.navbar.navbar-fixed-top
  .container
    .row.header
      .col-lg-12
        %a.navbar-toggle{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "/"}
          %img{:alt => "GoTag Logo", :border => "0", :src => "img/logo-150.png", :width => "80"}/
        .nav-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "browse"} BROWSE
            %li
              %a{:href => "#"} SELL TICKETS
        .searchbar
          .btn.glyphicon.glyphicon-search
          %input#EventKeywords.search_events_input{:name => "data[Event][keywords]", :placeholder => "What are you looking for?...", :type => "text"}/
        .navbar-text.pull-right
          .userli.text-right
            %a.profpic{:href => "account"}
              %img{:alt => "User Profile Picture", :border => "0", :src => "img/profile.jpg",}/
            %a{:href => "#"} Amy
            %a.glyphicon.glyphicon-shopping-cart{:href => "#"}
              (3)
            %a.glyphicon.glyphicon-map-marker{:href => "#"}
            