.top-nav
  .navbar.navbar-fixed-top
    %a.navbar-toggle{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "/"}
      %img{:alt => "GoTag Logo", :border => "0", :src => "img/logo-150.png", :width => "80"}/
    .nav-collapse.collapse
      %ul.links.nav.navbar-nav
        %li
          %a{:href => "browse"} BROWSE
        %li
          %a{:href => "#"} SELL TICKETS
    
    .pull-right
      .user
        %a.user-login{:href => "/signin"} LOG IN
        %a.user-login{:href => "/signin"} SIGN UP
        
        