%link{ :href => "css/about.css", :rel => "stylesheet" }/
!!!

#aboutimage{:style => "background-image:url('img/night_city.jpg'); background-color:#cccccc; width:100%; height: 300px;"}
	.container
		.col-lg-12
			#abouttitle.boxcolor
				%h1 About Us
#aboutwrap
	.row
		.container
			.col-lg-12
				.container
					.row
						.col-lg-12
							%h3 Going places is fun
							%p To kill Fatsoma
					/row
					%br/
					.row
						.col-lg-12
							%h3 The Team
							%p GoTag is lovingly crafted in Bath and London.
							.col-lg-4
								%p Ollie
								%a.thumbnail.face{:href => "#",}
									%img{:alt => "Ollie Marshall", :src => "img/ollie.png", :height => "150"}/
							.col-lg-4
								%p Amy
								%a.thumbnail.face{:href => "#",}
									%img{:alt => "Ollie Marshall", :src => "img/amy.png", :height => "150"}/
							.col-lg-4
								%p David
								%a.thumbnail.face{:href => "#",}
									%img{:alt => "Ollie Marshall", :src => "img/dmr.png", :height => "150"}/
					/row
					%br/
					.row
						.col-lg-12
							%h3 Contact Us
							%p If you like what you see, email us at support@gotag.in or tweet us @gotagin. We would love to hear from you!
					/row