%link{ :href => "css/about.css", :rel => "stylesheet" }/
!!!

.page.aboutpage.generalpage
  .container.maincontainer
    .row.pagehead
      .caption-positioning
        #pagehead-caption
          %h1 About Us
      %img{:alt => "", :src => "img/street2.jpg"}/
    .container.mainfeed.demowrap.main
      .col-12
        .row.content-row
          %h2 Going places is fun
          %p.general-description Our mission is to make it simple for you to find the best places to go.
        .row.content-row
          %h2 The Team
          %p.general-description GoTag is lovingly crafted in Bath and London.
        .row.content-row.team-row
          .col-4
            %a.thumbnail.face{:href => "http://uk.linkedin.com/in/olliemarsh/",}
              %img.img-circle{:alt => "Ollie Marshall", :src => "img/ollie.jpg",}/
            %h4 Ollie
            %h5 Co-Founder, Tech
          .col-4
            %a.thumbnail.face{:href => "http://uk.linkedin.com/in/hunteramy/",}
              %img.img-circle{:alt => "Ollie Marshall", :src => "img/amy.jpg",}/
            %h4 Amy
            %h5 Co-Founder, Biz
          .col-4
            %a.thumbnail.face{:href => "http://uk.linkedin.com/in/davidpmr/",}
              %img.img-circle{:alt => "Ollie Marshall", :src => "img/dmr.jpg",}/
            %h4 David
            %h5 Advisor
        .row.content-row
          %h2 Contact Us
          %p If you like what you see, email us at 
          %a{:href => "mailto:support@gotag.in"} support@gotag.in
          %p or tweet us 
          %a{:href => "https://twitter.com/gotagin"} @gotagin
          %p , we would love to hear from you!