%br
.row
  .container
    .col-lg-12.col-md-12.main{:style => "margin-bottom:10px;"}
      Header
    .col-lg-12.mainfeed.demowrap.main{:style => "margin-bottom:10px;"}
      .row
        .col-lg-3.leftpane
          Browse nav
        .col-lg-9.rightpane
          .col-lg-4
            %a.thumbnail.gsdisplay{:href => "#"}
              %img{:alt => "", :src => "img/flyer/freshers.png",}
              %p Freshers Week 2013
              %p 19th Sept
          .col-lg-4
            %a.thumbnail.gsdisplay{:href => "#"}
              %img{:alt => "", :src => "img/flyer/freshers.png",}
              %p Freshers Week 2013
              %p 19th Sept
          .col-lg-4
            %a.thumbnail.gsdisplay{:href => "#"}
              %img{:alt => "", :src => "img/flyer/freshers.png",}
              %p Freshers Week 2013
              %p 19th Sept
