%link{ :href => "css/browse.css", :rel => "stylesheet" }/

.browse
  .container
    .row    
      .col-lg-4
        .event-tile.thumbnail
          %img{:src => "img/flyer/boat.jpg"}/
          .caption
            %h3 Boat Party 2013
            %p.venue Second Bridge
            %a{class: "btn btn-primary"} Buy Tickets
            .date
              %p.eventday 10 
              %p.eventmonth SEP
      .col-lg-4
        .event-tile.thumbnail
          %img{:src => "img/flyer/boat.jpg"}/
          .caption
            %h3 Boat Party 2013
            %p.venue Second Bridge
            %a{class: "btn btn-primary"} Buy Tickets
            .date
              %p.eventday 10 
              %p.eventmonth SEP
      .col-lg-4
        .event-tile.thumbnail
          %img{:src => "img/flyer/boat.jpg"}/
          .caption
            %h3 Boat Party 2013
            %p.venue Second Bridge
            %a{class: "btn btn-primary"} Buy Tickets
            .date
              %p.eventday 10 
              %p.eventmonth SEP
      .col-lg-4
        .event-tile.thumbnail
          %img{:src => "img/flyer/boat.jpg"}/
          .caption
            %h3 Boat Party 2013
            %p.venue Second Bridge
            .date
              %p.eventday 10 
              %p.eventmonth SEP
      .col-lg-4
        .event-tile.thumbnail
          %img{:src => "img/flyer/boat.jpg"}/
          .caption
            %h3 Boat Party 2013
            %p.venue Second Bridge
            .date
              %p.eventday 10 
              %p.eventmonth SEP
      .col-lg-4
        .event-tile.thumbnail
          %img{:src => "img/flyer/boat.jpg"}/
          .caption
            %h3 Boat Party 2013
            %p.venue Second Bridge
            .date
              %p.eventday 10 
              %p.eventmonth SEP
      .col-lg-4
        .event-tile.thumbnail
          %img{:src => "img/flyer/boat.jpg"}/
          .caption
            %h3 Boat Party 2013
            %p.venue Second Bridge
            .date
              %p.eventday 10 
              %p.eventmonth SEP
      .col-lg-4
        .event-tile.thumbnail
          %img{:src => "img/flyer/boat.jpg"}/
          .caption
            %h3 Boat Party 2013
            %p.venue Second Bridge
            .date
              %p.eventday 10 
              %p.eventmonth SEP
    .row
      %div{style:"text-align:center;"}
        %a{class: "btn btn-success"} Discover More Events