%link{ :href => "css/browse.css", :rel => "stylesheet" }/

.page
  .browse
    .container
      .row    
        .col-6.col-sm-4
          .event-tile.thumbnail
            %img{:src => "img/flyer/boat.jpg"}/
            .caption
              %h3.ellipsis Freshers week boat party blah blah blah blah blah blah blah 2013
              %span.glyphicon.glyphicon-map-marker
              %p.venue Second Bridge
              .btncontainer
                %a{class: "btn btn-primary"} Buy Tickets
              .date
                %p.eventday 10 
                %p.eventmonth SEP
        .col-6.col-sm-4
          .event-tile.thumbnail
            %img{:src => "img/flyer/boat.jpg"}/
            .caption
              %h3.ellipsis Freshers week boat party blah blah blah blah blah blah blah 2013
              %span.glyphicon.glyphicon-map-marker
              %p.venue Second Bridge
              .btncontainer
                %a{class: "btn btn-primary"} Buy Tickets
              .date
                %p.eventday 10 
                %p.eventmonth SEP
        .col-6.col-sm-4
          .event-tile.thumbnail
            %img{:src => "img/flyer/boat.jpg"}/
            .caption
              %h3.ellipsis Freshers week boat party blah blah blah blah blah blah blah 2013
              %span.glyphicon.glyphicon-map-marker
              %p.venue Second Bridge
              .btncontainer
                %a{class: "btn btn-primary"} Buy Tickets
              .date
                %p.eventday 10 
                %p.eventmonth SEP
        .col-6.col-sm-4
          .event-tile.thumbnail
            %img{:src => "img/flyer/boat.jpg"}/
            .caption
              %h3.ellipsis Freshers week boat party blah blah blah blah blah blah blah 2013
              %span.glyphicon.glyphicon-map-marker
              %p.venue Second Bridge
              .btncontainer
                %a{class: "btn btn-primary"} Buy Tickets
              .date
                %p.eventday 10 
                %p.eventmonth SEP
        .col-6.col-sm-4
          .event-tile.thumbnail
            %img{:src => "img/flyer/boat.jpg"}/
            .caption
              %h3.ellipsis Freshers week boat party blah blah blah blah blah blah blah 2013
              %span.glyphicon.glyphicon-map-marker
              %p.venue Second Bridge
              .btncontainer
                %a{class: "btn btn-primary"} Buy Tickets
              .date
                %p.eventday 10 
                %p.eventmonth SEP
        .col-6.col-sm-4
          .event-tile.thumbnail
            %img{:src => "img/flyer/boat.jpg"}/
            .caption
              %h3.ellipsis Freshers week boat party blah blah blah blah blah blah blah 2013
              %span.glyphicon.glyphicon-map-marker
              %p.venue Second Bridge
              .btncontainer
                %a{class: "btn btn-primary"} Buy Tickets
              .date
                %p.eventday 10 
                %p.eventmonth SEP
        .col-6.col-sm-4
          .event-tile.thumbnail
            %img{:src => "img/flyer/boat.jpg"}/
            .caption
              %h3.ellipsis Freshers week boat party blah blah blah blah blah blah blah 2013
              %span.glyphicon.glyphicon-map-marker
              %p.venue Second Bridge
              .btncontainer
                %a{class: "btn btn-primary"} Buy Tickets
              .date
                %p.eventday 10 
                %p.eventmonth SEP
        .col-6.col-sm-4
          .event-tile.thumbnail
            %img{:src => "img/flyer/boat.jpg"}/
            .caption
              %h3.ellipsis Freshers week boat party blah blah blah blah blah blah blah 2013
              %span.glyphicon.glyphicon-map-marker
              %p.venue Second Bridge
              .btncontainer
                %a{class: "btn btn-primary"} Buy Tickets
              .date
                %p.eventday 10 
                %p.eventmonth SEP
        .col-6.col-sm-4
          .event-tile.thumbnail
            %img{:src => "img/flyer/boat.jpg"}/
            .caption
              %h3.ellipsis Freshers week boat party blah blah blah blah blah blah blah 2013
              %span.glyphicon.glyphicon-map-marker
              %p.venue Second Bridge
              .btncontainer
                %a{class: "btn btn-primary"} Buy Tickets
              .date
                %p.eventday 10 
                %p.eventmonth SEP
        .col-6.col-sm-4
          .event-tile.thumbnail
            %img{:src => "img/flyer/boat.jpg"}/
            .caption
              %h3.ellipsis Freshers week boat party blah blah blah blah blah blah blah 2013
              %span.glyphicon.glyphicon-map-marker
              %p.venue Second Bridge
              .btncontainer
                %a{class: "btn btn-primary"} Buy Tickets
              .date
                %p.eventday 10 
                %p.eventmonth SEP
        .col-6.col-sm-4
          .event-tile.thumbnail
            %img{:src => "img/flyer/boat.jpg"}/
            .caption
              %h3.ellipsis Freshers week boat party blah blah blah blah blah blah blah 2013
              %span.glyphicon.glyphicon-map-marker
              %p.venue Second Bridge
              .btncontainer
                %a{class: "btn btn-primary"} Buy Tickets
              .date
                %p.eventday 10 
                %p.eventmonth SEP
      .row
        %div{style:"text-align:center;"}
          %a{class: "btn btn-success"} Discover More Events