%link{ :href => "css/events.css", :rel => "stylesheet" }/
%script{:src => "http://maps.google.com/maps/api/js?sensor=true", :type => "text/javascript"}
%script{:src => "http://cdn.jsdelivr.net/gmaps/0.3.1/gmaps.min.js", :type => "text/javascript"}

.page.eventspage
  .container.maincontainer
    .row.pagehead
      .caption-positioning
        #event-caption
          %h1 A-Level Results Party some stupid long name
          %span.glyphicon.glyphicon-calendar
          %h4 1st June 2013 @ 7:00pm
          %br
          %span.glyphicon.glyphicon-map-marker
          %h4 Second Bridge, Bath, BA1 2EX
      %img{:alt => "", :src => "img/street2.jpg"}/
    .container.mainfeed.demowrap.main
      .col-sm-4.col-12.leftpane
        .col-sm-12.col-3
          .flyercontainer
            %a.thumbnail.flyer{:href => "#"}
              %img{:alt => "", :src => "img/flyer/garden.jpg",}
        .col-sm-12.col-9
          .feednavbar
          .cbox.eventsummary
            %p A-List presents... 
            %h2 A-Level Results Party some stupid long name
            .glyphblock
              %span.glyphicon.glyphicon-calendar
              %p.afterglyph 1st June 2013 7:00 pm - 2nd June 2013 2:00am
            .glyphblock 
              %span.glyphicon.glyphicon-map-marker 
              %p.afterglyph Second Bridge, Bath, BA1 2EX
          .tbox.sharelinks
            .fb-like{"data-href" => "http://developers.facebook.com/docs/reference/plugins/like", "data-layout" => "button_count", "data-send" => "true", "data-show-faces" => "true", "data-width" => "450"}
            %br
            %a.twitter-share-button{:href => "https://twitter.com/share"} Tweet
      .col-sm-8.col-12.rightpane
        %h2.scroll-headline Tickets
        .buytable.bordered
          %table.table
            %colgroup
              %col.coltype{:span => "1",}/
              %col.colprice{:span => "1",}/
              %col.colqty{:span => "1",}/
            %thead
              %tr
                %th Ticket Type
                %th Price
                %th Quantity
            %tbody
              %tr
                %td
                  Early Bird
                %td
                  £3 + £0.20 
                  %span.bfee BF
                %td.buylinks
                  #quantity{}
                    %input.decrement.btn.btn-red.wbtn{:name => "subtract", :type => "button", :value => "-"}/
                    %input#qty{:name => "qty", :type => "text", :value => "0"}/
                    %input.increment.btn.btn-red.wbtn{:name => "add", :type => "button", :value => "+"}/
              %tr
                %td
                  Student
                %td
                  £3 + £0.20
                  %span.bfee BF
                %td.buylinks
                  #quantity{}
                    %input.decrement.btn.btn-red.wbtn{:name => "subtract", :type => "button", :value => "-"}/
                    %input#qty{:name => "qty", :type => "text", :value => "0"}/
                    %input.increment.btn.btn-red.wbtn{:name => "add", :type => "button", :value => "+"}/
              %tr
                %td
                  General Admission some silly long ticket type name
                %td
                  £4 + £0.20
                  %span.bfee BF
                %td.buylinks
                  #quantity{}
                    %input.decrement.btn.btn-red.wbtn{:name => "subtract", :type => "button", :value => "-"}/
                    %input#qty{:name => "qty", :type => "text", :value => "0"}/
                    %input.increment.btn.btn-red.wbtn{:name => "add", :type => "button", :value => "+"}/
              %tr.pprow
                %td{:colspan => "2"}
                  %div{:align => "right"}
                    %img{:alt => "Gotag-cards", :src => "https://gotag-static.s3-eu-west-1.amazonaws.com/assets/gotag-cards-88de37efa66edd0ac5fb2376090f2d15.png"}/
                    %img{:alt => "Paypal_express", :src => "https://gotag-static.s3-eu-west-1.amazonaws.com/assets/payment_gateway_logos/paypal_express-2188c870f7021ad9be6c34e23ce789eb.gif"}/
                %td{:colspan => "1"}
                  %input.btn.btn-blue{:name => "commit", :type => "submit", :value => "Purchase"}/
        %h2.scroll-headline Event Description
        %p.scroll-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        %a{:href => "#"} read more...
        %h2.scroll-headline Important Info
        %p.scroll-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        %p General terms and conditions apply
        %p R.O.A.R. [rights of admission reserved]
        %p No entry to under 18s unless otherwise specified
        %p No admission without a valid ticket
        %a{:href => "#"} GoTag terms and conditions...
        %h2.scroll-headline Social
        .fb-comments{"data-href" => "http://example.com", "data-width" => "470"}
        .sharelinksdiv
          .sharelinks.fb-like{"data-href" => "http://developers.facebook.com/docs/reference/plugins/like", "data-layout" => "button_count", "data-send" => "true", "data-show-faces" => "true", "data-width" => "450"}
          %a.sharelinks.twitter-share-button{:href => "https://twitter.com/share"} Tweet
        
    .row.mapwrap
      #map

:javascript
  $('.decrement').click(function() {
      var qtyInput = $($(this).next()[0]);
      var value = qtyInput.val();
      if (value > 0) {
        var newValue = parseInt(value) - 1;
        qtyInput.val(newValue);
      }
    })

    $('.increment').click(function() {
      var qtyInput = $($(this).prev()[0]);
      var value = qtyInput.val();
      var newValue = parseInt(value) + 1;
      qtyInput.val(newValue);
    });
  map = new GMaps({
    div: '#map',
    lat: 51.375799,
    lng: -2.359893,
    enableNewStyle: true,
    scrollwheel: false
  });

  
  
