%link{ :href => "css/events.css", :rel => "stylesheet" }/
!!!
%html{:lang => "en"}
  %head
    / start: Meta
    %meta{:charset => "utf-8"}/
    %title TABULA BOOTSTRAP THEME by creativeLabs
    %meta{:content => "Tabula Bootstrap Theme", :name => "description"}/
    %meta{:content => "Template, Theme, web, html5, css3, Bootstrap, pin, wall, responsive, fluid, retina", :name => "keywords"}/
    %meta{:content => "Åukasz Holeczek from creativeLabs", :name => "author"}/
    / end: Meta
    / start: Mobile Specific
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    / end: Mobile Specific
    / start: Facebook Open Graph
    %meta{:content => "", :property => "og:title"}/
    %meta{:content => "", :property => "og:description"}/
    %meta{:content => "", :property => "og:type"}/
    %meta{:content => "", :property => "og:url"}/
    %meta{:content => "", :property => "og:image"}/
    / end: Facebook Open Graph
    / start: CSS
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Serif", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Boogaloo", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Economica:700,400italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/bootstrap-responsive.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/layerslider.css", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9 ]
      <link href="css/styleIE.css" rel="stylesheet">
    /[if IE 9 ]
      <link href="css/styleIE9.css" rel="stylesheet">
    / end: CSS
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    / start: Header
    
    / start: Container
    .container
      / start: Page Title
      #page-title
        %h2 1st June 2013
      / end: Page Title
      / start: Wrapper
      #wrapper
        / start: Row
        .row-fluid
          .posts.span8
            / start: Post
            .post.first
              .picture
                %a{:href => "post.html"}
                  %img{:alt => "", :src => "img/night_city.jpg"}/
              .info
                %span.post-date
                  %span.day 1
                  %span.month-year June, 2012
                %span.post-icon.standard
                  %i.fa-icon-pencil
              .post-content
                .post-title
                  %h2
                    %a{:href => "post.html"} Freshers Week At Second Bridge
                .post-meta
                  %span
                    %i.fa-icon-user>
                    By
                    %a{:href => "#"} A-List Bath
                  %span
                    %i.fa-icon-comments-alt>
                    With
                    %a{:href => "#"} 5 Friends Attending
                .post-description
                  %p
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                %a.post-entry{:href => "post.html"} Read More...
            / end: Post
            .post.last
              .post-content
                .post-title
                  %h2
                    %a{:href => "#"} Map
              .picture
                %a{:href => "post.html"}
                  %img{:alt => "", :src => "img/map.jpg"}/
            / end: Post
            
          / start: Sidebar
          .sidebar.span4.hidden-phone
            / start: Text Widget
            .widget.first
              / %h3 Text Widget
              / %p
              /   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            / end: Text Widget
            / start: Popular Photos
            .widget
              .title
                %h3 Event Photos
              .flickr-widget
                %script{:src => "http://www.flickr.com/badge_code_v2.gne?count=9&display=latest&size=s&layout=x&source=user&user=29609591@N08", :type => "text/javascript"}
                .clear
            / end: Popular Photos
            / start: Sidebar Menu
            .widget
              .title
                %h3 Menu
              %ul.links-list-alt
                %li
                  %a{:href => "index.html"} Ticket Types
                %li
                  %a{:href => "contact.html"} Terms and Conditions
                %li
                  %a{:href => "post.html"} Venue Details

            / end: Sidebar Menu
            / start: Tags
            .widget.last
              .title
                %h3 Tags
              .tags
                %a{:href => "#"} Second Bridge
                %a{:href => "#"} House Music
                %a{:href => "#"} Student Event

          / end: Sidebar
          / end: Row
      / end: Wrapper
    / end: Container
    / start: Footer
    
    / start: Java Script
    / Placed at the end of the document so the pages load faster
    %script{:src => "js/jquery-1.9.1.min.js"}
    %script{:src => "js/jquery.isotope.min.js"}
    %script{:src => "js/jquery.imagesloaded.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/flexslider.js"}
    %script{:src => "js/carousel.js"}
    %script{:src => "js/jquery.cslider.js"}
    %script{:src => "js/slider.js"}
    %script{:src => "js/jquery.fancybox.js"}
    %script{:src => "js/twitter.js"}
    %script{:src => "js/jquery.placeholder.min.js"}
    %script{:src => "js/jquery-easing-1.3.js"}
    %script{:src => "js/layerslider.kreaturamedia.jquery.js"}
    %script{:src => "js/excanvas.js"}
    %script{:src => "js/jquery.flot.js"}
    %script{:src => "js/jquery.flot.pie.min.js"}
    %script{:src => "js/jquery.flot.stack.js"}
    %script{:src => "js/jquery.flot.resize.min.js"}
    %script{:defer => "defer", :src => "js/modernizr.js"}
    %script{:defer => "defer", :src => "js/retina.js"}
    %script{:defer => "defer", :src => "js/custom.js"}
    / end: Java Script