%link{ :href => "css/index.css", :rel => "stylesheet" }/

#myCarousel.carousel.slide
  %ol.carousel-indicators.moved
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  / Carousel items
  .carousel-inner
    .active.item
      %img{:alt => "", :src => "img/street.jpg"}/
      .carousel-caption
        %h1 Discover Events
        %form.navbar-search.large{:style => ""}
          %input.search-query{:placeholder => "Where do you want to go?", :type => "text"}/
        / %p.lead Find all the hottest tickets in your area.
        %a.btn.btn-primary.btn-large.btn-blue Search Events
    .item
      %img{:alt => "", :src => "img/street.jpg"}/
      .carousel-caption
        %h1 Bought a Ticket?
        %p.lead Manage it here.
        %a.btn.btn-primary.btn-large My Tickets
    .item
      %img{:alt => "", :src => "img/street.jpg"}/
      .carousel-caption
        %h1 Running an Event?
        %p.lead See how our ticketing platform can help you.
        %a.btn.btn-primary.btn-large Learn More
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›

#servicewrap
  .container
    %h2 Popular
    .row
      .col-lg-6
        %a.thumbnail.gldisplay{:href => "#",}
          %img{:alt => "", :src => "img/flyer/monday2.jpg"}
          / %p Bridge Mondays
          / %p 16th Aug
      .col-lg-3
        %a.thumbnail.gsdisplay{:href => "#"}
          %img{:alt => "", :src => "img/flyer/forever.jpg",}
          / %p Forever Fridays
          / %p 8th June
        %a.thumbnail.gsdisplay{:href => "#"}
          %img{:alt => "", :src => "img/flyer/freshers.png",}
          / %p Freshers Week 2013
          / %p 19th Sept
      .col-lg-3
        %a.thumbnail.gsdisplay{:href => "#",}
          %img{:alt => "", :src => "img/flyer/garden.jpg",}
          / %p Garden Party
          / %p 11th July
        %a.thumbnail.gsdisplay{:href => "#",}
          %img{:alt => "", :src => "img/flyer/smut2.png",}
          / %p Smut
          / %p 16th Aug
    %br/
    %h2 Recommended For You
    .row
      .col-lg-2
        %a.thumbnail.gsdisplay{:href => "#"}
          %img{:alt => "", :src => "img/flyer/monday2.jpg", :height => "150"}/
      .col-lg-2
        %a.thumbnail.gsdisplay{:href => "#"}
          %img{:alt => "", :src => "img/flyer/smut2.png", :height => "150"}/
      .col-lg-2
        %a.thumbnail.gsdisplay{:href => "#"}
          %img{:alt => "", :src => "img/flyer/freshers.png", :height => "150"}/
      .col-lg-2
        %a.thumbnail.gsdisplay{:href => "#"}
          %img{:alt => "", :src => "img/flyer/garden.jpg", :height => "150"}/
      .col-lg-2
        %a.thumbnail.gsdisplay{:href => "#"}
          %img{:alt => "", :src => "img/flyer/forever.jpg", :height => "150"}/
      .col-lg-2
        %a.thumbnail.gsdisplay{:href => "#"}
          %img{:alt => "", :src => "img/flyer/freshers.png", :height => "150"}/
    %br/
    %br/
    #whygotag.row
      .container
        %h2 Why we think you will love GoTag
        %p
          Beautifully simple features that you will actually use.
    / row
    %br/
    .row.featureslist
      .col-lg-3.media
        %i.discover.media-object.pull-left
        .media-body 
          %h4.media-heading Discover
          %p Learn what's going on nearby and find new trending events.
      / col3
      .col-lg-3.media
        %i.search.media-object.pull-left
        .media-body
          %h4.media-heading Recommendations
          %p In a new city? Let us suggest you events we think you might like.
      / col3
      .col-lg-3.media
        %i.social.media-object.pull-left
        .media-body
          %h4.media-heading Social
          %p Keep up with your friends by sharing your plans and see where your friends are going.
      / col3
      .col-lg-3.media
        %i.purchase.media-object.pull-left
        .media-body
          %h4.media-heading Purchase
          %p Gone are the days of printing paper e-tickets, purchase your tickets on the go.
      / col3
    / row
    %br/
  / container
/ servicewrap