!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }/
    %title GoTag
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/
    %link{ :href => "css/bootstrap.css", :media => "all", :rel => "stylesheet" }/
    %link{ :href => "css/bootstrap-missing.css", :media => "all", :rel => "stylesheet" }/
    %link{ :href => "css/overrides.css", :media => "all", :rel => "stylesheet" }/
    %link{ :href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Cabin+Condensed:400,500,600,700|Oxygen:400,300,700", :rel => "stylesheet"}/
    %link{ :href => "css/bootstrap-glyphicons.css", :rel => "stylesheet"}/

    /[if IE]
      %link{ :href => "css/all-ie-only.css", :rel => "stylesheet"}

    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js" }
    :javascript
      window.jQuery || document.write("<script src='js/jquery.min.js'>\x3C/script>")
    %script{ :src => "js/bootstrap.js" }
    %script{ :src => "js/bootstrap-carousel.js" }
    %script{ :src => "js/jquery.scrollNav.js" }
    %script{ :src => "js/browser_detect.js" }


    
  %body
    /[if IE]      
      come on now

    - if request.path == "/"  
      = haml :"shared/header_homepage"
    - else
      = haml :"shared/header"

    #wrap
      = yield
    
    = haml :"shared/footer"

    #fb-root
    :javascript
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : 314401175251872,                        // App ID from the app dashboard
          channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel file for x-domain comms
          status     : true,                                 // Check Facebook Login status
          xfbml      : true                                  // Look for social plugins on the page
        });

        // Additional initialization code such as adding Event Listeners goes here
      };

      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

      // Load the SDK asynchronously
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
      

