!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }/
    %title GoTag
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/
    %link{ :href => "css/bootstrap.css", :media => "all", :rel => "stylesheet" }/
    %link{ :href => "css/icons.css", :media => "all", :rel => "stylesheet" }/
    %link{ :href => "css/overrides.css", :media => "all", :rel => "stylesheet" }/
    %link{ :href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Cabin+Condensed:400,500,600,700|Oxygen:400,300,700", :rel => "stylesheet"}/

    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js" }
    :javascript
      window.jQuery || document.write("<script src='js/jquery.min.js'>\x3C/script>")
    %script{ :src => "js/bootstrap.js" }
    %script{ :src => "js/bootstrap-carousel.js" }
    %script{ :src => "js/jquery.scrollNav.min.js" }

  %body
    - if request.path == "/"  
      = haml :"shared/header_homepage"
    - else
      = haml :"shared/header"

    = yield
    
    = haml :"shared/footer"
    
