%link{ :href => "css/press.css", :rel => "stylesheet" }/
!!!

.page.presspage.generalpage
  .container.maincontainer
    .row.pagehead
      .caption-positioning
        #pagehead-caption
          %h1 Press
      %img{:alt => "", :src => "img/street2.jpg"}/
    .container.mainfeed.demowrap.main
      .col-12
        .row.content-row
          %h2 What the Press are saying
        .row.content-row
          %blockquote.col-sm-6.col-12
            %p
              "First-year business student Amy Hunter, currently developing GoTag, an innovative loyalty scheme."
            %small
              %a{:href => "http://www.independent.co.uk/"}
                %img{:alt => "Independent_masthead", :src => "http://www.independent.co.uk/independent.co.uk/editorial/logo/independent_Masthead.png"}/
              %cite{:title => "Source Title"} The Independent
          %blockquote.col-sm-6.col-12
            %p
              "@SETsquared-supported students featured in The Independent http://awe.sm/5pzt1  @SnapFashion @gotagin ‪#womenintechnology"
            %small
              %a{:href => "http://www.setsquared.co.uk/news/setsquared-supported-students-featured-independent"}
                %img{:alt => "Acquia_prosper_logo", :src => "http://www.setsquared.co.uk/sites/default/files/acquia_prosper_logo.png"}/
              %cite{:title => "Source Title"} setsquared.co.uk
        .row.content-row
          %p.general-description
            Need more information? Please email
            %a{:href => "mailto:support@gotag.in"} support@gotag.in