%link{ :href => "css/refunds.css", :rel => "stylesheet" }/
!!!

.page.refundpage.generalpage
  .container.maincontainer
    .row.pagehead
      .caption-positioning
        #pagehead-caption
          %h1 Refunds
      %img{:alt => "", :src => "img/street2.jpg"}/
    .container.mainfeed.demowrap.main
      .col-12
        .row.content-row
          %h2 Refund Policy
        .row.content-row
          .col-12
            %p
              Please read our 
              %a{:href => "http://help.gotag.in/customer/portal/articles/696031-terms-and-conditions"}terms and conditions
              to view our full privacy policy.
            %p
              If you need to contact us regarding a ticket purchase please 
              %a{:href => "http://help.gotag.in/customer/portal/emails/new"}send us an email.