%link{ :href => "css/tickets.css", :rel => "stylesheet" }/

.page.ticketspage
  .container
    .col-12.maintitle.content-box
      %h1 My Tickets
  .container.mainfeed
    .contentpage.col-12
      .alert.alert-block
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        %h4 Welcome!
        %p These are your upcoming tickets, please download and print your tickets ready for inspection upon arrival at your event.
      .content-box
        %h3 My Upcoming Tickets
        .printtable
          %table.table.table-bordered.table-striped
            %tbody
              %tr
                %td
                  19 Sep 2013
                %td
                  Student ticket
                %td.printlink
                  %input.btn.btn-small.btn-blue{:name => "", :type => "submit", :value => "Print"}/
              %tr
                %td
                  24 Nov 2013
                %td
                  General Admission
                %td.printlink
                  %input.btn.btn-small.btn-blue{:name => "", :type => "submit", :value => "Print"}/
              %tr
                %td
                  29 Nov 2013
                %td
                  Earlybird
                %td.printlink
                  %input.btn.btn-small.btn-blue{:name => "", :type => "submit", :value => "Print"}/