.page.accountpage form{
  margin-bottom:20px;
}

.page.accountpage .controls select{
  float:left;
  margin-right: 5px;
}

.page.accountpage .control-group{
  width:100%;
  clear: both; 
  float: left;
}

.page.accountpage .btn.flbl{
  width: 140px;
  margin-left: 155px;
}

.page.accountpage p.flbl a{
  margin-left: 155px;
  color: #bdc3c7;
}

.page.accountpage p.flbl {
  margin-top:10px;
}

.page.accountpage #user_birthday_3i {
  width:29%;
}

.page.accountpage #user_birthday_2i {
  width:32%;
}

.page.accountpage #user_birthday_1i {
  width:32%;
}