.browse .event-tile {
  min-height: 390px;
  background-color: #ffffff;
}

.browse .event-tile:hover {
  -webkit-box-shadow: 0px 0px 8px #21b6e8;
  -moz-box-shadow: 0px 0px 8px #21b6e8;
  box-shadow: 0px 0px 8px #21b6e8;
}

.browse .thumbnail {
  border-radius: 0;
  border: 1px solid #DDDDDD;
  margin: 0 10px 10px 0;
  padding:5px;
}

.browse .thumbnail h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
}

.browse .event-tile .date {
  background-color: rgba(0, 0, 0, 0.88);
  color: white;
  position: absolute;
  top: 15px;
  left: 40px;
  padding: 5px 10px;
}

.browse .event-tile .date p {
  margin: 0;
}

.browse .event-tile .date p.eventday {
  font-size: 25px;
}

.browse .event-tile .date p.eventmonth {
  font-size: 10px;
  text-align: center;
  
}