body {
  font-family: 'Oxygen', sans-serif;
}

h1{
font-family: 'Cabin Condensed', sans-serif;
}

h2{
font-family: 'Cabin Condensed', sans-serif;
}

h3{
font-family: 'Oxygen', sans-serif;
}

h4{
font-family: 'Oxygen', sans-serif;
}

h5{
font-family: 'Oxygen', sans-serif;
}

p{
font-family: 'Oxygen', sans-serif;
}

/*--------------------------------
	Checkout
---------------------------------*/

.checkout-steps {
	background: #FFF;
	border: 1px solid #DDD;
	margin: 20px 0;
}

.checkout-steps .step {
	float: left;
	width: 33.3%;
	padding: 20px 2%;
	font-size: 18px;
	color: #BBB;
	margin: 0;
  text-align: center;
}

.checkout-steps .step-active {
	color: #444;
}

.checkout-steps .step span {
	float: right;
	color: #ff884c;
}

