body {
font-family: 'Oxygen', sans-serif;
}

h1{
font-family: 'Cabin Condensed', sans-serif;
}

h2{
font-family: 'Cabin Condensed', sans-serif;
}

h3{
font-family: 'Oxygen', sans-serif;
}

h4{
font-family: 'Oxygen', sans-serif;
}

h5{
font-family: 'Oxygen', sans-serif;
}

p{
font-family: 'Oxygen', sans-serif;
}

/*
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
display: inline-block;
min-height: none;
max-width: none;
line-height: 1;
}

.carousel-control {
position: absolute;
top: 35%;
}

.carousel-caption {
position: absolute;
right: 15%;
bottom: 160px;
}

.carousel-inner {
position: relative;
width: 100%;
height: 350px;
overflow: hidden;
}

.carousel-control.right {
right: 20px;
left: auto;
}
/*.ticketwrap {
width: 100%;
background: #232121;
padding-bottom: 45px;
padding-top: 45px;
text-align: center;
}*/

.main{
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,.2);
  box-shadow: 0 0 4px rgba(0,0,0,.2);
}

/*************PAGEHEAD*************/
.row.pagehead {
  height:330px; 
  overflow:hidden;
}

.row.pagehead img {
  width:100%; 
  height:100%;"
}

.row.pagehead h1 {
  color:#ec602f; 
  width:100%;
}

.row.pagehead p{
  color:white; 
}

#event-caption {
  position:absolute; 
  bottom:75px; 
  text-align:center; 
  left:38%;
  background: rgba(0, 0, 0, 0.75);
  padding-left:25px;
  padding-right:25px;
  min-width:500px;
}

#event-caption .glyphicon {
  color:white;
}
/*************MAINFEED*************/
a.thumbnail.flyer{
  height:200px;
  width:200px;
  text-align:center;
  margin-bottom:5px;
  position:absolute;
  top:-100px;
  left:20%;
}

a.thumbnail.flyer img{
  height:100%;
  width:100%;
}

.mainfeed{
  background:white;
  border: 1px solid #e7e7e7;
  margin-bottom: 25px;
}

.rightpane{
  border-left: 1px solid #e7e7e7;
  height:100%;
}

.leftpane{
  /*background-color: #f0f0f0;*/
}

/*************BUY NOW*************/


/*************FEED NAV*************/

.feednavbar{
  position:absolute;
  top:100px;
}

.scroll-nav{
  /*background: #f0f0f0;*/
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.scroll-nav.navbar {
  top: 50px;
}


li.scroll-nav-item{
  text-decoration:none;
}

.scroll-nav.navbar-fixed-top li a{
  color:#666;
  text-shadow: none;
}

.scroll-nav.navbar-fixed-top ul.scroll-nav-list li.scroll-nav-item.active a.scroll-nav-link{
  color:#666;
}

.scroll-nav.navbar-fixed-top {
 /* background: #666;*/
  background:white;
  border-bottom: 1px solid #f1f1f1;
  padding-top: 0px;
  padding-bottom: 0px;
  height:61px;
  width:100%;
}

ul.scroll-nav-list{
  list-style-type: none;
  width:1203px;
  display:inline-block;
  position:absolute;
  left:3%;
}

.navbar-fixed-top .buy-tickets-nav-btn{
  float:right;
  margin-right: 180px;
  margin-top: 8px;
  margin-bottom: 30px;
  padding: 0.5em 2em;
  font-size: 18px;
  border-radius: 6px;
  color: #fff;
  background-color: #3498DB;
  border-color: #3498DB;
  display: inline-block;
  font-weight: 500;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
}

.navbar-fixed-top a.buy-tickets-nav-btn:hover{
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #2980B9;
  border-color: #2980B9;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
}
/*************FEED************





/*************MAP*************/

.mapwrap h2{
  display:inline-block;
}

#map {
  height: 350px;
}

/*#infowrap {
    width: 100%;
    background: #232121;
    padding-bottom: 45px;
    text-align:center;
}

#infowrap h2 {
  text-align:left;
  margin-left:5px;
  border-left:10px #ec602f solid;
  padding-left:3px;
  margin-bottom:40px;
  color:#fff;
}

#infowrap h3 {
  font-weight:400;
  font-size:30px;
  color:#ec602f;
  text-align:center;
  margin:5px;
}

#infowrap h4 {
  font-weight:400;
  font-size:22px;
  line-height:28px;
  color:#fff;
  margin:5px;
}

#infowrap p {
  font-weight:400;
  font-size:22px;
  line-height:28px;
  color:#8a8888;
  padding-top:50px;
  margin-bottom:10px;
  margin:5px;
}

.span4 {
width: 33%;
float:left;
}*/