.page.eventspage h1{
  font-weight:300;
}

.page.eventspage h2{
  font-size: 21px;
}

/*************PAGEHEAD*************/
.page.eventspage .row.pagehead {
  height:345px; 
  overflow:hidden;
}

.page.eventspage .row.pagehead img {
  width:100%; 
  height:100%;
}

.page.eventspage .row.pagehead .caption-positioning {
  position: absolute; 
  left: 50%;
}

.page.eventspage .row.pagehead #event-caption {
  position: relative;
  left: -50%;
  text-align:center; 
  background: rgba(0, 0, 0, 0.75);
  padding-left:45px;
  padding-right:45px;
  min-width:938px;
  border: solid 1px black;
  padding-bottom:10px;
  margin-top:65px;
}

.page.eventspage .row.pagehead #event-caption h1 {
  color:#ec602f; 
  width:100%;
  margin-bottom:20px;
  margin-top:20px;
}

.page.eventspage .row.pagehead #event-caption p{
  color:white; 
}

.page.eventspage .row.pagehead #event-caption .glyphicon {
  color:white;
}

.page.eventspage .row.pagehead #event-caption h4 {
  color:white;
  display:inline;
  margin-bottom:10px;
}

@media screen and (max-width: 768px) {
  .page.eventspage .row.pagehead #event-caption {
  padding-left:25px;
  padding-right:25px;
  min-width:350px;
  padding-bottom:10px;
  margin-top:35px;
}

  .page.eventspage .row.pagehead #event-caption h1 {
    font-size:40px;
  }
}

/*************MAINFEED*************/
.page.eventspage .mainfeed{
  background:white;
  padding-bottom: 25px;
}

.page.eventspage .rightpane{
  height:100%;
}

/*************LEFTPANE*************/
.page.eventspage .leftpane .flyercontainer{
  height:100%;
  margin-top:10px;
  padding:0px;
  padding-top:10px;
}

.page.eventspage .leftpane a.thumbnail.flyer{
  text-align:center;
  position: relative;
  width: 60%;
  margin-left:20%;
  margin-right:20%;
  margin-bottom:10px;
  border: 1px solid #dddddd;
  padding-bottom:5px;
}

.page.eventspage .leftpane a.thumbnail.flyer img{
  height:94%;
  width:100%;
  padding:0.5%;
}

.page.eventspage .leftpane .eventsummary {
  margin-top: 20px;
}

.page.eventspage .leftpane .eventsummary h2{
  margin-top: 0px;
  color: #333333;
  font-size:20px;
}

.page.eventspage .leftpane .eventsummary p{
  font-size:13px;
}

.page.eventspage .leftpane .eventsummary .afterglyph{
  display:inline;
}
  /******* SCREEN RESWOLUTION ******/
  @media screen and (max-width: 768px) {
    .page.eventspage .leftpane a.thumbnail.flyer{
      width: 100%;
      margin-left:0%;
      margin-right:0%;
      margin-bottom:10px;
    }

    .page.eventspage .leftpane .eventsummary h2{
      font-size:16px;
      margin-bottom:5px;
    }

    .page.eventspage .leftpane .eventsummary p{
      font-size:13px;
      margin-bottom:5px;
    }

    .page.eventspage .leftpane .sharelinks {
      display: none !important;
    }
  }

/*************RIGHTPANE*************/

/*************FEED*************/
.scroll-description{
  text-align: justify;
  padding-right:5px;
}

/*************BUY TABLE*************/
.page.eventspage .buytable table{
  margin-bottom:5px;
}

.page.eventspage .buytable tbody tr td{
  border-top: 0;
  vertical-align:center;
  line-height:32px;
}

.page.eventspage .buytable thead{
  border-bottom: solid 1px #e3e3e3;
}

  /******* COLUMNS *********/
  .page.eventspage .buytable .coltype{
    width: 50%;
  }

  .page.eventspage .buytable .colprice{
    width: 24%;
  }

  .page.eventspage .buytable .colqty{
    width: 26%;
  }

  /**** PRICE *****/

  .page.eventspage .buytable span.bfee{
    display:inline;
    font-size:11px;
  }

  /****** QTY ******/

  .page.eventspage .buytable .buylinks input#qty{
    width: 36px;
    display: inline;
    text-align:center;
    font-size:12px;
    border-radius:0;
    padding: 8px;
  }

  .page.eventspage .buytable #quantity {
    margin-left:5px;
    margin-right:5px;
  }

  .page.eventspage .buytable .wbtn{
    margin-left:-5px;
    margin-right:-5px;
    min-width:30px;
    padding: 8px 10px 7px;
  }

  .page.eventspage .buytable .decrement.wbtn{
    border-top-right-radius:0;
    border-bottom-right-radius:0;
  }

  .page.eventspage .buytable .increment.wbtn{
    border-top-left-radius:0;
    border-bottom-left-radius:0;
  }

  /******* PURCHASE ********/
  .page.eventspage .buytable tr.pprow img{
    height:25px;
  }

  .page.eventspage .buytable .pprow{
    border-top: solid 1px #e3e3e3;
  }

  .page.eventspage .buytable tr.pprow .btn{
    padding: 8px 16px;
  }

  /******** SCREEN RESOLUTION ********/
  @media screen and (max-width: 480px) {
    .page.eventspage .buytable td {
      font-size:13px;
    }

    .page.eventspage .buytable .coltype{
      width: 45%;
    }

    .page.eventspage .buytable .colprice{
      width: 25%;
    }

    .page.eventspage .buytable .colqty{
      width: 30%;
    }
  }

/***********SOCIAL**********/

.page.eventspage .rightpane .fb-comments{
  margin-bottom:20px;
}

.page.eventspage .rightpane .sharelinks {
  display:inline-block;
  margin-right:15px;
}
/************MAP************/

.page.eventspage #map {
  height: 350px;
}


/*************FEED NAV*************/

/*.feednavbar{
  position:absolute;
  top:100px;
  display:none;
}

.scroll-nav{
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.scroll-nav.navbar {
  top: 50px;
  display:none;
}


li.scroll-nav-item{
  text-decoration:none;
}

.scroll-nav.navbar-fixed-top li a{
  color:#666;
  text-shadow: none;
}

.scroll-nav.navbar-fixed-top ul.scroll-nav-list li.scroll-nav-item.active a.scroll-nav-link{
  color:#666;
}

.scroll-nav.navbar-fixed-top {
  background:white;
  border-bottom: 1px solid #f1f1f1;
  padding-top: 0px;
  padding-bottom: 0px;
  height:61px;
  width:100%;
}

ul.scroll-nav-list{
  list-style-type: none;
  width:1203px;
  display:inline-block;
  position:absolute;
  left:3%;
}

.navbar-fixed-top .buy-tickets-nav-btn{
  float:right;
  margin-right: 180px;
  margin-top: 8px;
  margin-bottom: 30px;
  padding: 0.5em 2em;
  font-size: 18px;
  border-radius: 6px;
  color: #fff;
  background-color: #3498DB;
  border-color: #3498DB;
  display: inline-block;
  font-weight: 500;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
}

.navbar-fixed-top a.buy-tickets-nav-btn:hover{
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #2980B9;
  border-color: #2980B9;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
}
*/

/********* Infinite Scroll *******/

#infscr-loading {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}