h2{
  color: #666;
}

h4{
 /* color:#E74C3C;*/
}

a.thumbnail.gsdisplay img{
  height:100%;
}

a.thumbnail.gldisplay img{
  height:100%;
}

/********** CAROUSEL **********/
.carousel-indicators{
  top:10px;
  bottom:auto;
}

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 30px;
  height: 35px;
  margin-top: -20px;
  font-size: 40px;
  font-weight: 100;
  line-height: 25px;
  color: #bbc0c2;
  text-align: center;
  background: #222222;
  border: 3px solid #bbc0c2;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel-control.right {
  right: 15px;
  left: auto;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-caption{
  background: 
  rgba(0, 0, 0, 0.75);
  width:100%;
  left:0;
  padding-top:15px;
  padding-bottom:35px;
  bottom:125px;
}

.carousel-inner {
  background: rgba(0, 0, 0, 0.88);
}
.carousel-inner .item{
  height:600px;
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: inline-block;
  min-height: 100%;
  max-width: 100%;
  line-height: 1;
  }

form.navbar-search.large{
  float:none; 
  margin-left:auto; 
  margin-right:auto; 
  text-align: center; 
  display:inline-block;
}


form.navbar-search.large input.search-query{
  width: 350px;
  text-align:center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
  height:45px;
  border: none;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 30px;
  margin-bottom: 6px;
  padding: 0 4px 0 8px;
  text-align: left;
  vertical-align: middle;
}

.btn.btn-blue {
  box-shadow: inset #2C3E50 -3px -3px 0px;
}
/********** SERVICEWRAP **********/

#servicewrap{
  padding-top:10px;
  margin-bottom:35px;
}


/*******THUMBNAILS*********/
a.thumbnail.gldisplay{
  height:285px;
  width:285px; 
  text-align:center;
}

a.thumbnail.gldisplay img{
  height:100%;
  width:100%;
}

#glhover{
  display:none;
  position: absolute;
}

a.thumbnail.gldisplay:hover + #glhover{
  color:white;
  display: block;
  position:absolute;
  top:0;
  left: 50%;
  text-align:center;
}

a.thumbnail.gldisplay:hover img{
  opacity:0.9;
}

#glhovercontent {
  position: relative;
  height:100%;
  width:100%;
  left: -50%;
}

#glhovercontent h2 {
  color:#E74C3C;
  text-align:center;
  font-size: 65px;
  font-weight: bold;
  line-height: 65px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 1px 10px rgba(0,0,0,0.9);
}

/*a.thumbnail.gldisplay:hover + #glhover2{
  color:white;
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  background:red;
  text-align:center;
}*/

a.thumbnail.gsdisplay{
  height:140px; 
  width:140px;
  text-align:center;
  margin-bottom:5px;
}

a.thumbnail.gsdisplay img{
  height:100%;
  width:100%;
}

a.thumbnail.gsdisplay p, a.thumbnail.gldisplay p{
  margin-bottom:0;
}

/**************WHY GOTAG****************/

#whygotag{
  text-align:center;
}

#features{
  padding-bottom:10px;
}

#features .featureslist .media {
  margin-top: 15px;
}

#features .mediabox {
  padding:4px;
  margin-left:auto;
  margin-right:auto;
}

.description{
  width:60%;
  float:left;
}
#features .featureslist i{
  /*background-position: 16px 6px;*/
  /*float: left;*/
  height: 64px;
  width: 75px;
  margin: 0;
  background: url('../img/icon/features.png');
  margin-right:5px;
}

#features i.discover{
  background-position: 15px 3px;
}

#features i.search{
  background-position: 6px -197px;
}

#features i.social{
  background-position: 12px -130px;
}

#features i.purchase{
  background-position: 3px -65px;
}

#footerwrap{
  margin-top: 25px;
}