/********** CAROUSEL **********/
#indexCarousel .carousel-caption{
  background: 
  rgba(0, 0, 0, 0.75);
  width:100%;
  left:0;
  padding-top:15px;
  padding-bottom:35px;
  bottom:135px;
}

#indexCarousel .carousel-caption h1{
  font-weight:400;
  margin: 0.4em 0;
  font-size:55px;
}

#indexCarousel .carousel-inner {
  background: rgba(0, 0, 0, 0.88);
}

#indexCarousel .carousel-inner .item{
  height:650px;
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
}

#indexCarousel .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: inline-block;
  min-height: 100%;
  max-width: 100%;
  line-height: 1;
}

#indexCarousel .carousel-inner .img-container {
  height: 155%;
  position: absolute;
  left: 50%;
}

#indexCarousel .carousel-inner .img-container img {
  height: 100%;
  position: relative;
  left: -50%;
}

#indexCarousel .carousel-inner .search-bar {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 11px;
  height: 48px;
  font-size: 14px;
  border-radius: 8px;
  border-color: #fbfbfb;
  background-color: #fbfbfb;
  color:#fff;
}

#indexCarousel .carousel-inner .search-bar:hover {
  -webkit-box-shadow: 0px 0px 18px #3498db;
  -moz-box-shadow: 0px 0px 18px #3498db;
  box-shadow: 0px 0px 18px #3498db;
}

#indexCarousel .carousel-inner .search-bar .btncontainer {
  float:right;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  height:100%;
}

#indexCarousel .carousel-inner .search-bar .glyphicon {
  float:left;
  vertical-align:bottom;
  background: none;
  border: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: white;
  font-size:25px;
  padding: 5px 0%;
  margin-top:5px;
  width:100%;
  color:#3498db;
}

#indexCarousel .carousel-inner .search-bar .glyphicon:hover{
  color: #2980B9;
}

#indexCarousel .carousel-inner .search-bar input.search_events_input{
  float:left;
  position: relative;
  margin-top:5px;
  background: none;
  border: 0px;
  color:#bbc0c2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 1.2em;
}

#indexCarousel .carousel-inner .search-bar:hover input.search_events_input{ color:#131414; }
#indexCarousel .carousel-inner .search-bar input.search_events_input:hover { color:#131414; }

#indexCarousel .carousel-inner .search-bar ::-webkit-input-placeholder { color:#999;}
#indexCarousel .carousel-inner .search-bar ::-moz-placeholder { color:#999;}
#indexCarousel .carousel-inner .search-bar :-ms-input-placeholder { color:#999;}
#indexCarousel .carousel-inner .search-bar :-moz-placeholder { color:#999;}

#indexCarousel .carousel-inner .search-bar:hover ::-webkit-input-placeholder { color: #131414; }
#indexCarousel .carousel-inner .search-bar:hover :-moz-placeholder { color: #131414; }
#indexCarousel .carousel-inner .search-bar:hover ::-moz-placeholder { color: #131414; }
#indexCarousel .carousel-inner .search-bar:hover :-ms-input-placeholder { color: #131414; }}

/********** indexServicewrap **********/

#indexServicewrap{
  padding-top:10px;
  margin-bottom:35px;
}

#indexServicewrap .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
  padding-left:5px;
  padding-right:5px;
}

#indexServicewrap .row{
  margin-bottom:35px;
}

#indexServicewrap h2{
  color: #666;
}

/*******THUMBNAILS*********/
#indexServicewrap a.thumbnail.gldisplay{
  /*height:315px;
  width:100%; 
  text-align:center;*/
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

#indexServicewrap a.thumbnail.gldisplay img{
  height:97%;
  width:100%;
  padding:0.5%;
}

#indexServicewrap a.thumbnail.gsdisplay{
  /*height:135px; 
  width:135px;
  text-align:center;*/
  margin-bottom:5px;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

#indexServicewrap a.thumbnail.gsdisplay img{
  height:95%;
  width:100%;
  padding:1%;
}

#indexServicewrap a.thumbnail.gsdisplay p, a.thumbnail.gldisplay p{
  margin-bottom:0;
}

/**************WHY GOTAG****************/

#indexWhyGotag{
  text-align:center;
}

#indexWhyGotag h2{
  /*color: #666;*/
  font-weight:bold;
}

#indexFeatures{
  padding-bottom:10px;
}

#indexFeatures .featureslist .media {
  margin-top: 15px;
}

#indexFeatures .mediabox {
  padding:4px;
  margin-left:auto;
  margin-right:auto;
}

#indexFeatures .description{
  width:60%;
  float:left;
}

#indexFeatures .description h4{
  font-weight:bold;
}

#indexFeatures .featureslist i{
  /*background-position: 16px 6px;*/
  /*float: left;*/
  height: 64px;
  width: 75px;
  margin: 0;
  background: url("<%= asset_path 'frontend/features.png' %>");
  margin-right:5px;
}

#indexFeatures i.discover{
  background-position: 15px 3px;
}

#indexFeatures i.search{
  background-position: 6px -197px;
}

#indexFeatures i.social{
  background-position: 12px -130px;
}

#indexFeatures i.purchase{
  background-position: 3px -65px;
}

#indexFeatures {
  margin-bottom:25px;
}
