/* Key scaffolding - this should contain common overrides to boostrap accross the entire site
-------------------------------------------------- */
body {
  padding-top: 60px;
  font-family: 'Oxygen', sans-serif;
  background-color: #f0f0f0;
}
@media (max-width: 768px) {
  body {
    padding-top: 110px;
  }
}

.full-length{
  height:100%;
}

h1, h2{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #E74C3C;
}

h1{
  font-size:50px;
}

h2{
  font-size:28px;
}

h3, h4, h5{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h4{
  font-size:16px;
}

p, a {
  font-family: 'Oxygen', sans-serif;
}

a, a:hover{
  color:#3498DB;
}

a.thumbnail{
  border:none;
}

a.thumbnail:hover, a.thumbnail:focus{
  color: #bbc0c2;
  text-decoration:none;
  border:none;
}

li a:hover{
  text-decoration:none;
}

.container{
  max-width:940px;
}

/********** HEADER **********/

.navbar .container{
  max-width:none;
  padding-left:30px;
  padding-right:30px;
}

.nav > li {
  padding-left: 5px;
}

.nav li a{
  font-size: 13px;
  color: #bbc0c2;
  display: block;
  float: left;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  border: 1px solid transparent;
  border-top: 0;
  border-bottom: 0;
  text-shadow: 1px 1px 1px #131414;
  /*font-family: 'Oxygen', sans-serif;*/
}

.nav li a:hover {
  color: white;
  text-shadow: 1px 1px 1px #131414;
}

.navbar{
  /**padding-top:2px;**/
  background: rgba(0, 0, 0, 0.88);
}


.row.header .searchbar{ 
  width: 350px;
  position:relative;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;margin-top:10px;
  display:block;
  display: block;
  height: 38px;
  padding: 0px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #666;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.navbar-nav li .glyphicon, .row.header .searchbar .glyphicon{
  float:left;
  vertical-align:bottom;
  background: none;
  border: 0px;
  color:#666;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.row.header .searchbar input.search_events_input{
  float:left;
  position: relative;
  width:80%;
  background: none;
  border: 0px;
  color:#666;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-text{
  margin-top:-45px;
}


/* user login / register */
.user {

}

.user a{
  margin-top: 10px;
  font-size: 13px;
  padding: 8px 12px;
  border: 2px solid #bbc0c2;
  display: inline-block;
  color: #bbc0c2;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  text-shadow: 1px 1px 1px #131414
}
.user a:hover {
  background: #bbc0c2;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #131414
}

.userli a{
  margin-top: 10px;
  font-size: 13px;
  padding: 8px 5px;
  display: inline-block;
  color: #bbc0c2;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  text-shadow: 1px 1px 1px #131414
}

.userli a{
  
}

.userli a:hover {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #131414
}

a.profpic{
  padding: 0px;
  border: none;
}

a.profpic img{
  width:35px;
  margin: 0px;
  padding: 0px;
}


/********** FOOTER WRAP **********/
#footerwrap {
  width: 100%;
  /*background: rgba(35, 35, 36, 1);*/
  /*background: rgba(0, 0, 0, 0.9);*/
  background: #ddd;
  padding-bottom: 45px;
  text-align:center;
  color:#474747;
}

#footerwrap .container{
  max-width:none;
  padding-left:30px;
  padding-right:30px;
}

#footerwrap h2 {
  text-align:left;
  margin-left:5px;
  border-left:10px #357EBD solid;
  padding-left:3px;
  margin-bottom:40px;
  color:#fff;
}

#footerwrap h3 {
  font-size: 18px;
  margin-top:12px;
  color:#707070;
}

#footerwrap h4 {
  margin-top:5px;
  margin-bottom:5px;
  font-size: 15px;
}

#footerwrap li{
  display:inline;
}

#footerwrap .useful a{
  color:#474747;
}

#footerwrap .iconbar a {
  color:transparent;
}

#footerwrap .iconbar img {
  width:90px;
}

#footerwrap .iconbar img{
  width:50px;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

#footerwrap .iconbar a:hover img{
  color:transparent;
  opacity:1;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}


/***********BUTTONS***********/

.btn.btn-blue {
  background-color: #3498db;
}

.btn.btn-red{
  background-color: #E74C3C;
}

.btn.btn-large {
  font-size: 16.996px;
  line-height: 20px;
  padding: 12px 18px 13px;
}

.btn.btn-small{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn {
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.btn, .btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
font-size: 14.994px;
font-weight: 500;
}




a.thumbnail.gldisplay{
  height:345px; 
  text-align:center;
}

a.thumbnail.gldisplay img{
  height:100%;
  width:100%;
}

a.thumbnail.gsdisplay{
  height:170px; 
  text-align:center;
  margin-bottom:5px;
}

a.thumbnail.gsdisplay img{
  height:100%;
  width:100%;
}

a.thumbnail.gsdisplay p, a.thumbnail.gldisplay p{
  margin-bottom:0;
}


/***********CONTENT PAGES************/

.maintitle.content{
  margin-bottom:20px;
  padding-top:5px;
}

.contentpage.leftpane{
  padding-left:0px;
}

.contentpage.rightpane{
  padding-right:0px;
}

.contentpage.fullpane{
  padding-left: 0px;
  padding-right: 0px;
}

.content{
  background: white;
  padding-left:15px;
  padding-right:15px;
  padding-top:15px;
  padding-bottom:10px;
  margin-bottom:10px;
}

.content h3{
  font-size: 22px;
  font-weight:400;
  -webkit-margin-before: 0.3em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.boxed{
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,.2);
  box-shadow: 1px 1px 4px rgba(0,0,0,.2);
}



/*********** ACCOUNT INFO ************/

.acctimg.thumbnail{
  height: 190px;
  width: 190px;
  margin-left:auto;
  margin-right:auto;
}

.acctimg img{
  height: 180px;
  width: 180px;
}

.acctname {
  text-align:center;
}

.acctname h3{
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.acctname a{
  font-size: 12px;
}

.socialnet table{
  font-size:12px;
}

/*********** TICKETS **********/

.printlink{
  text-align:center;
}

/************** FORMS *************/

.form-horizontal .control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}

.form-horizontal .controls {
  margin-left: 160px;
}

.form-horizontal .control-group {
  margin-bottom: 18px;
}